export(bitcoind)
export(bitcoind.rpc)
export(use.data.table)
export(makepaymenturi)
export(plotQR)
export(defaultports)
importFrom(R6, R6Class)
importFrom(httr, POST, http_status, content, stop_for_status)
importFrom(jsonlite, toJSON, fromJSON)